HOSTAWAY_API_KEY=YOUR_HOSTAWAY_API_KEY
HOSTAWAY_ACCOUNT_ID=YOUR_HOSTAWAY_ACCOUNT_ID
XENDIT_SECRET_KEY=YOUR_XENDIT_SECRET_KEY
XENDIT_PUBLIC_KEY=YOUR_XENDIT_PUBLIC_KEY
XENDIT_CALLBACK_TOKEN=YOUR_XENDIT_CALLBACK_VERIFICATION_TOKEN
URL=http://localhost:8888