<!-- _includes/villas/gallery-section.html -->
{% assign section_data = include.section %}

<section class="bg-[#FCFBF8] section">
  <div class="max-w-screen-2xl mx-auto px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for image in section_data.images %}
      <div
        class="{% if forloop.index > 3 %} hidden md:block {% endif %} {% if forloop.index > 6 %} md:hidden lg:block {% endif %}"
      >
        <img
          src="{{ image | relative_url }}"
          class="w-full h-[260px] md:h-[320px] lg:h-[360px] object-cover"
          alt="Gallery image"
          loading="lazy"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
