<!-- _includes/villas/gallery-with-cta.html -->
{% assign section_data = include.section %}

<section class="bg-[#F3F0E7] section">
  <!-- Note -->
  <div
    class="flex justify-center my-4 text-[#231F20]/50 text-xs sm:text-sm font-body"
  >
    <!-- Mobile & Tablet -->
    <span class="block lg:hidden">Tap to view more images</span>

    <!-- Desktop -->
    <span class="hidden lg:block">Click to view details</span>
  </div>

  <div class="max-w-screen-2xl mx-auto px-6 lg:px-8">
    <!-- Images -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for image in section_data.images %}
      <div
        class="{% if forloop.index > 1 %} hidden md:block {% endif %} {% if forloop.index > 2 %} md:hidden lg:block {% endif %} {% if forloop.index > 3 %} hidden {% endif %}"
      >
        <a
          href="{{ image | relative_url }}"
          class="gallery-lightbox-trigger cursor-pointer"
        >
          <img
            src="{{ image | relative_url }}"
            alt="Villa image {{ forloop.index }}"
            class="w-full h-[260px] md:h-[320px] lg:h-[360px] object-cover"
            loading="lazy"
          />
        </a>
      </div>
      {% endfor %}
    </div>

    <!-- Button -->
    {% if section_data.button %}
    <div class="mt-10">
      <a
        href="{{ section_data.button_url | default: '#' }}"
        class="inline-flex uppercase font-heading font-bold tracking-widest bg-[#8B8635] px-4 py-2 transition-all duration-300 ease-in-out hover:bg-[#6B682A] hover:scale-105 active:scale-95 text-white rounded-xl text-sm sm:text-base cursor-pointer"
      >
        {{ section_data.button }}
      </a>
    </div>
    {% endif %}
  </div>
</section>
